* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}  


/*------------------ reset end -------------------------*/

body {
    background-color: #f7e4d4;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}




h1 {
    display: flex;
    width: 100%;
    align-content: center;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 48px;
    color: #467745;
    margin: 20px;
    justify-content: center;
}



#targy { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 480px;
    height: 64px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    color: #467745;

}


textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 480px;
    height: 120px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    margin-top: 0;
    color: #467745;

}

::placeholder {
    color: #78a778;
}



span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #467745;
    overflow-wrap: break-word;
}




button {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 21px;
    width: 280px;
    height: 80px;
    background-color: #467745;
    color: #f7e4d4;
    letter-spacing: 0.2em;
    border-radius: 40px;
}

.checkboxdiv {
    width: 480px;
    height: 40px;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}


@media screen and (max-width: 520px) {
    h1 {
        font-size: 36px;
        justify-content: flex-start;
        padding-left: 20px;

    }

    #targy, textarea {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
    
    .checkboxdiv {
        width: calc(100% - 40px);
      
    }
}